#Puerto del servidor
PORT = 5678
HOST = 123.456.789.101

# Configuración de Postgres
DB_HOST = 109.976.543.210
DB_PORT = 1234
DB_USERNAME = username
PASSWORD = password
DATABASE = database_name

# Clave para las sesiones
SESSION_SECRET = ABCDEFGHIJKLMNOPQRSTUVWXYZ

EMAIL = username@domain.com
EMAIL_PROVIDER = gmail
EMAIL_PASSWORD = password123
JWT_SECRET = ZYXWVUTSRQPONMLKJIHGFEDCBA

EXMAPLE_EMAIL_1 = username@domain.com
EXMAPLE_EMAIL_2 = username@domain.com
EXMAPLE_EMAIL_3 = username@domain.com
EXMAPLE_EMAIL_4 = username@domain.com
EXMAPLE_EMAIL_5 = username@domain.com
EXMAPLE_EMAIL_6 = username@domain.com